body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #825d4e;
  }
  
  video {
    width: 80%;
    max-width: 720px;
    border: 4px solid #ffd697;
    border-radius: 10px;
    background-color: #fff;
  }
  